@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/font" as *;
@use "../../styles/partials/global" as *;

.section {
    display: flex;
    flex-direction: column;
}

.header-container {
    height: 6.0625rem;
    display: flex;
    justify-content:flex-start;
    width: 100%;
    border-bottom: 1px solid #BDC5D5;
    padding: 2rem 1rem 1.5rem;
    align-items: center;
    @include tablet {
        padding: 1rem 2rem;
    }
}

.link {
    display: flex;
    align-items: center;
}

.title-container {
    display: flex;
    align-items: center;

    &__title {
        font-size: 1.5625rem;
        margin: 0;
    }
}

.edit-warehouse-contact-details {
    display: flex;
    flex-direction: column;

    @include tablet {
        flex-direction: row;
    }
}

.edit-details-container {
    padding: 2rem 1rem;
    border-bottom: 1px solid #BDC5D5;

    @include tablet {
        width: 50%;
        padding: 2rem 2rem;
        border-bottom: 0px;
    }

    &--borderless {
        padding: 2rem 1rem;
        border-bottom: 0px;

        @include tablet {
            padding: 0 2rem;
            margin: 2rem 0;
            border-left: 1px solid #BDC5D5;
            width: 50%;
        }

        @include desktop {
            padding-left: 1rem
        }
    }

    &__header {
        
        font-size: 1.25rem;
        margin: 0 0 1.5rem 0;
    }

    &__subheader {
        
        text-decoration: none;
        font-size: 0.8125rem;
        margin: 1rem 0 0.25rem 0;
    }

    &__input {
        
        font-weight: 400;
        height: 2.5rem;
        width: 100%;
        background-position: right;
        border: 1px solid $cloud;
        border-radius: 1.5rem;
        padding: 1rem;
    }
}

.edit-buttons{
    &__wrapper {
        padding: .875rem 1rem;
        background-color: $grey;
        width: 100%;
        display: flex;
        flex-direction: column;
        @include tablet {
            align-items: end;
        }
    }
    
    &__container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        gap: 1rem;
        @include tablet {
            width:fit-content;

        }

        &--cancel {
            width: 100%;
            flex: .5;
            background-color: $white;
            border: 1px solid $cloud;
            border-radius: 1.5rem;
            &:hover {
                border: 1px solid $indigo;
                color: $indigo;
            }

            @include tablet {
                width: auto;
            }
        }

        &--save {
            
            flex: .5;
            color: $white;
            background-color: $indigo;
            border: 1px solid $indigo;
            border-radius: 1.5rem;

            &:hover {
                background-color: $graphite;
                border: 1px solid $graphite;
            }

            @include tablet {
                width: auto;
            }
    }
}}


.edit-details-edit-form__message {
    color: $green;
    margin: .7rem 1rem 0rem 0rem;
}