@use "../../styles/partials/variables" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/global" as *;
.details {
    border-radius: 0 0 $border-radious $border-radious;
    padding: $paddingMobile;
        @include tablet {
            padding: $paddingTablet;
        }
        @include desktop {
            padding: $paddingTablet;
        }
    &__wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: .3rem;
        @include tablet {
            flex-direction: row;
            gap: 1rem;
        }
        @include desktop {
            flex-direction: row;
            gap: 1rem;
        }
    }
    &__column {
        flex: 1;
        display: flex;
        flex-direction: column;
        &--divider {
            display: none;
            background-color: $cloud;
            width: .05rem;
            margin: 0.1rem .5rem;
            @include tablet {
                display: flex;
            }
        }
    }
    &__row {
        flex: 1;
        display: flex;
        flex-direction: row;
    }
    &__pair {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding-bottom: .5rem;
    }
    &__label {
        line-height: 1.5rem;
    }
}