@use "../../styles/partials/variables" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/global" as *;

.details {
    background-color: $white;
    color: $black;
    display: flex;
    flex-direction: column;

    @include tablet {
        border: none;
    }

    &__contact-wrapper {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__address-wrapper {
        margin-bottom: $headingPadding;
        @include tablet {
            margin-bottom: 0;
        }
    }

    &__address {
        &--mobile {
            @include tablet {
                display: none;
            }
        }

        &--tablet {
            display: none;

            @include tablet {
                display: inline;
            }
        }
    }

    &__contact-info {
        display: flex;
        gap: $paddingMobile;
        width: 100%;

        @include tablet {
            padding-left: $paddingTablet;
            border-left: $divider;
            width: 60%;
        }

        @include desktop {
            padding-left: 3rem;
            width: 55%;
            gap: 6rem;
        }
    }

    &__label {
        color: $slate;
    }
}
