@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.errmsg {
    display: flex;
    color: $red;
    padding: $paddingInComponents $paddingMobile $paddingMobile;
    font-weight: 400;
    font-size: 12px;
    @include tablet {
        padding: $paddingInComponents $paddingTablet $paddingMobile;
    }

    &__icon {
        width: 13.33px;
        height: 13.33px;
        margin: $paddingInComponents;
    }
}


