@mixin font($size, $height, $weight) {
    font-size: $size;
    line-height: $height;
    font-weight: $weight;
  } 
  
// mobile text styles:
h1 { @include font(2.8rem, 3.6rem, 700); }  
h2 { @include font(2rem, 2.8rem, 600); }  
h3 { @include font(1.3rem, 2rem, 600); }  
h4 { @include font(1.1rem, 1.6rem, 600); }  

p .p1 { @include font(1.5rem, 2.6rem, 500); } 
p .p2 { @include font(1.3rem, 2rem, 500); } 
p .p3 { @include font(1.1rem, 1.6rem, 500); } 

ul, li, span, a { @include font(1.5rem, 2.6rem, 500); }

// desktop & tablet text styles:
@media only screen and (min-width: 768px) {
  h1 { @include font(3.2rem, 4rem, 700); }  
  h2 { @include font(2.4rem, 3.2rem, 600); }  
  h3 { @include font(1.4rem, 2.2rem, 600); }  
  h4 { @include font(1.2rem, 1.8rem, 600); }  

  p .p1 { @include font(1.6rem, 2.8rem, 500); } 
  p .p2 { @include font(1.4rem, 2.2rem, 500); } 
  p .p3 { @include font(1.2rem, 2.2rem, 500); } 

  ul, li, span, a { @include font(1.6rem, 2.8rem, 500); }
}


