@use "./variables" as *;
@use "./breakpoints" as *;
html {
    box-sizing: border-box;
}
* {
    margin: 0;
    border: 0;
    outline-width: 0;
    &:focus {
        outline: none;
    }
}
*,
*:before,
*:after {
    box-sizing: inherit;
    font-family: inherit;
}
body {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    font-family: "Titillium Web", "Open Sans", sans-serif;
    color: $black;
    background-color: $grey;
}
h1,
h2,
h3,
h4,
.p1,
.p2,
.p3,
ul,
li,
span,
a {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: $black;
    text-align: left;
}
button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
}
textarea {
    resize: none;
}

.tag {
    &__global {
        display: flex;
        align-items: center;
        width: fit-content;
        height: 1.5rem;
        border-radius: 2rem;
        font-weight: 600;
        font-size: .6875rem;
        padding: 0 .5rem;
        @include tablet {
            height: 1.625rem;
        }
        @include desktop {
            height: 1.625rem;
        }
    }
    &__in-stock {
        color: $green;
        background-color: rgba($green, 0.07); 
    }
    &__out-of-stock{
        color: $red;
        background-color: rgba($red, 0.07);
    }
};
.icon {
    padding: 0;
    &:hover {
        cursor: pointer;
    }
    @include tablet {
        padding: 0 .5rem;
    }
    @include desktop {
        padding: 0 .5rem;
    }
}