//------------------------colorPalette:
$Black: #13182c;

//------------------------mixin for-size:
$mobile: 0px;
$tablet: 768px;
$desktop: 1280px;
//------------------------:
// $navHeight: 7.4rem;
$paddingMobile:1.6rem;
$paddingTablet: 2.4rem;

