.list-item {
    display: flex;
    flex-direction: column;
    height: 250px;
    border: 1px solid black;

    &__details {
        display: flex;
        flex-direction: column;
        height: 85%;
        flex-wrap: wrap;
    }

    &__button-wrapper {
        display: flex;
        justify-content: space-between;
    }
}
