@use "../../styles/partials/variables" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/global" as *;

.warehouses {
    width: 100%;
    &__list {
        display:flex;
        flex-direction: column;
        box-shadow: $shadow;
        border-radius: $border-radious ;
        margin: $paddingMobile;
        @include tablet{ 
            margin: $paddingTablet;
        }
        @include  desktop {
            margin: $paddingTablet*0.5 6vw;
        }
    }
}