@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/variables" as vars;
@use "../../styles/partials/typography";

.header{
  background-color: vars.$graphite;
  display: flex;
  flex-direction: column;
  height: 12.75rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  @include for-size(tablet){
      display: flex;
      height: 11.625rem;
      padding-top: 0;

  }
  @include for-size(desktop){
      height: 11.625rem;
      padding-top: 0;
  }
  &__logo{
    display: flex;
    justify-content: center;

    @include for-size(tablet) {
      justify-content: flex-start;
      margin-top: 0;
    }

    @include for-size(desktop){
      justify-content: flex-start;
      margin-top: 2.4rem;
  }
  }
  &__container{
    padding: 0 1rem;
    @include for-size(tablet){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
    }
    @include for-size(desktop){
        padding: 0 8.125rem;
    }
  }

    &__list{
          display:flex;
          flex-direction: row;
          justify-content:end;
          margin-top: 1.5rem;
          
          @include for-size(tablet) {
            justify-content: flex-end; 
            margin-top: 0;
          }
         
      }
      &__list-item{
              padding: 0.5rem 1rem ;
              text-align: center;
              border-radius: 1.25rem;
              font-weight: bold;
              color: vars.$white;   
               background-color: transparent;
               transition: background-color 0.3s, color 0.3s;
               &--active{
                background-color: vars.$blackInstock;
              }
              @include for-size(tablet) {
                justify-content: flex-end; 
                margin-top: 0;
              }
              
          }
}
