@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/variables" as vars;
@use "../../styles/partials/typography";

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: vars.$graphite;
    padding: 0 clamp(1rem, 0.284rem + 3.579vw, 2rem);
    gap: 1.5rem;
    height: clamp(10.938rem, 9.821rem + 5.58vw, 12.5rem);

    @include tablet {
        flex-direction: row;
        padding: 0 clamp(2rem, -2.313rem + 8.984vw, 4.875rem);
        height: 12.5rem;
    }

    @include desktop {
        padding: 0 4.876rem;
        justify-content: center;
    }

    &__wrapper {
        padding: 6px 0;
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        align-content: center;
        // height: 6.875rem;
        height: clamp(6.875rem, 6.071rem + 4.018vw, 8rem);
        
        @include tablet {
            padding:0;
            height: 6.25rem;
            flex-direction: row;
            justify-content: space-between;
            align-content: center;
            width: 100%;
        }

        @include desktop {
            max-width: 1280px;
        }
    }
}

.logo {
    display: flex;
    justify-content: center;
    align-content: center;

    @include tablet {
        flex-direction: column;
    }
    &__link {
        display: flex;
    justify-content: center;
    align-content: center;
    }
    &__img {
        height: clamp(1.5rem, 1.321rem + 0.893vw, 1.75rem);
        width: auto;
        @include tablet {
            height: 1.75rem;
        }
    }
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        font-family: "Titillium Web", sans-serif;
        font-weight: 600;
        font-size: 0.8125rem;
        text-decoration: none;

        background-color: vars.$graphite;
        border: 1px solid vars.$graphite;
        color: vars.$cloud;
        border-radius: 5rem;

        &:hover {
            text-decoration: underline;
            color: vars.$white;
        }

        @include tablet {
            width: 7.5rem;
        }
    }
}

.active {
    background-color: vars.$black;
    border: 1px solid vars.$black;
    color: vars.$white;
    height: 2rem;
}
