@use "../../styles/partials/variables" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/global" as *;
.main-page {
    &-header {
        padding: $headingPadding $paddingMobile $paddingMobile*1.5 $paddingMobile;
        display: flex;
        flex-direction: column;
        justify-content:flex-end;
        align-items: flex-start;
        border-radius: $border-radious $border-radious 0 0;

        @include tablet{
            flex-direction: row;
            padding: $headingPadding $paddingTablet $paddingTablet $paddingTablet;
            align-items: flex-end;
        }
    }
    &-title {
        padding:0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &-toorbar {
        display: flex;
        width: 100%;
        justify-content:flex-end;
        flex-direction: column;
        @include tablet{
            flex-direction: row;
            justify-content:flex-end;
            align-items: center;
        }
        @include  desktop {
            flex-direction: row;
            justify-content:flex-end;
            align-items: center;
        }
    }
}

.btn {
    margin-top: $paddingMobile*0.5;
    font-weight: 500;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    height: 2.25rem;
    background-color: $indigo;
    color: $white;
    border-radius: $button-radius;
    @include tablet{
        margin-top: 0;
        padding: 0 1rem;
    }
    @include  desktop {
        margin-top: 0;
        padding: 0 1rem;
    }
    &:hover {
    background-color: $graphite;
        cursor: pointer;
    }
}